{% extends 'employees\employee_base.html' %}

{% block title %}{% block header %} Filter Date {% endblock %}{% endblock %}

{% block content %}
<div>
        <header>Filtered Day selected: {{ weekday }}</header>
        <br>
        <h3>Please select a Day of the Week</h3> <br>
        <form action="{% url 'employees:filter' %}" method="post">
            {% csrf_token %}
            <select name='weekday' id='weekday' placeholder="{{weekday}}">
                <option value='Monday'>Monday</option>
                <option value='Tuesday'>Tuesday</option>
                <option value='Wednesday'>Wednesday</option>
                <option value='Thursday'>Thursday</option>
                <option value='Friday'>Friday</option>
                <option value='Saturday'>Saturday</option>
                <option value='Sunday'>Sunday</option>
            </select>
            <input type="submit" value="Load">
        <h2>Pickups for the Selected Day:</h2>
        {% for customer in customer_data %}
            {% if customer.weekly_pickup == weekday %}
                <h2>{{ customer.name }}</h2>
                <p>{{ customer.address }}</p>
            {% endif %}
        {%endfor%} 
        <br>   
</div>
{% endblock %}